node_modules/
dist/
tests/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
.pnpm/
pnpm-lock.yaml
pnpm-workspace.yaml
pnpmfile.js
pnpm-debug.log
pnpm-error.log
pnpm.log
.env
.env*
.git
coverage/